aiohappyeyeballs==2.6.1
mpmath==1.3.0
python-multipart==0.0.20
GitPython==3.1.45
einops==0.8.1
protobuf==6.33.0
multidict==6.7.0
starlette==0.48.0
flash_attn==2.8.3
nvidia-nccl-cu12==2.27.3
aiofiles==24.1.0
nvidia-cuda-runtime-cu12==12.8.90
pillow==11.3.0
networkx==3.4.2
frozenlist==1.8.0
typing_extensions==4.15.0
uvicorn==0.37.0
pydantic==2.12.0
anyio==4.11.0
tokenizers==0.22.1
trl==0.24.0
h11==0.16.0
typing-inspection==0.4.2
xformers==0.0.32.post2
transformers==4.57.0
nvidia-nvjitlink-cu12==12.8.93
gitdb==4.0.12
watchfiles==1.1.0
exceptiongroup==1.3.0
attrs==25.4.0
regex==2025.9.18
nvidia-cusolver-cu12==11.7.3.90
websockets==15.0.1
numpy==2.2.6
safetensors==0.6.2
fsspec==2025.9.0
hf-xet==1.1.10
multiprocess==0.70.16
sentry-sdk==2.42.1
fastapi==0.118.2
yarl==1.22.0
urllib3==2.5.0
annotated-types==0.7.0
httpx==0.28.1
httptools==0.6.4
nvidia-cufft-cu12==11.3.3.83
tzdata==2025.2
packaging==25.0
opencv-python==4.12.0.88
propcache==0.4.1
pandas==2.3.3
nvidia-cusparselt-cu12==0.7.1
torchvision==0.23.0
pydantic-settings==2.11.0
sniffio==1.3.1
xxhash==3.6.0
smmap==5.0.2
bitsandbytes==0.48.1
triton==3.4.0
ninja==1.13.0
pydantic_core==2.41.1
requests==2.32.5
sympy==1.14.0
accelerate==1.10.1
tqdm==4.67.1
nvidia-nvtx-cu12==12.8.90
httpcore==1.0.9
pyarrow==21.0.0
nvidia-cusparse-cu12==12.5.8.93
aiosignal==1.4.0
huggingface-hub==0.35.3
python-dateutil==2.9.0.post0
aiohttp==3.13.1
nvidia-cublas-cu12==12.8.4.1
charset-normalizer==3.4.3
nvidia-cufile-cu12==1.13.1.3
nvidia-cuda-cupti-cu12==12.8.90
nvidia-curand-cu12==10.3.9.90
nvidia-cuda-nvrtc-cu12==12.8.93
diffusers==0.36.0.dev0
datasets==4.2.0
dill==0.4.0
scipy==1.15.3
nvidia-cudnn-cu12==9.10.2.21
wandb==0.22.2
peft==0.17.1
uvloop==0.21.0
sentencepiece==0.2.1
python-dotenv==1.1.1
torch==2.8.0
platformdirs==4.5.0
Jinja2==3.1.6
amdsmi==23.4.2+dba4f54
clang==17.0.6
chapterize==0.1.6
wheel==0.37.1
launchpadlib==1.10.16
pyparted==3.11.7
reportlab==3.6.8
more-itertools==8.10.0
certifi==2020.6.20
six==1.16.0
python-magic==0.4.24
Pygments==2.11.2
importlib-metadata==4.6.4
ifaddr==0.1.7
requests-toolbelt==0.9.1
jeepney==0.7.1
beautifulsoup4==4.10.0
requests-file==1.5.1
pyelftools==0.27
distro==1.7.0
chardet==4.0.0
PyGObject==3.42.1
pyxdg==0.27
blinker==1.4
tinycss2==1.1.1
packaging==21.3
Markdown==3.3.6
pip==22.0.2
Brotli==1.0.9
Brlapi==0.8.3
pyparsing==2.4.7
websockets==9.1
tldextract==3.1.2
cupshelpers==1.0
xdg==5
python-gnupg==0.4.8
wadllib==1.3.6
pycryptodomex==3.11.0
PAM==0.4.2
pexpect==4.8.0
dnspython==2.1.0
mutagen==1.45.1
SecretStorage==3.3.1
pyRFC3339==1.1
argcomplete==1.8.1
lazr.uri==1.0.6
Unidecode==1.3.3
apt-clone==0.2.1
eyeD3==0.8.10
python-debian==0.1.43+ubuntu1.1
httplib2==0.20.2
louis==3.20.0
colorama==0.4.4
pyinotify==0.9.6
gpg==1.16.0
Mako==1.1.3
cryptography==3.4.8
pymacaroons==0.13.0
requests==2.25.1
command-not-found==0.3
systemd-python==234
Pillow==9.0.1
ptyprocess==0.7.0
macaroonbakery==1.3.1
lazr.restfulclient==0.14.4
PyYAML==5.4.1
zipp==1.0.0
PyICU==2.8.1
python-xlib==0.29
PyJWT==2.3.0
PyNaCl==1.5.0
qrcode==7.3.1
netifaces==0.11.0
async-timeout==4.0.1
dbus-python==1.2.18
xlrd==1.2.0
typing-extensions==3.10.0.2
oauthlib==3.2.0
pycurl==7.44.1
xkit==0.0.0
setproctitle==1.2.2
filelock==3.6.0
webencodings==0.5.1
configobj==5.0.6
python-apt==2.4.0+ubuntu4
protobuf==3.12.4
defer==1.0.6
netaddr==0.8.0
keyring==23.5.0
pycairo==1.20.1
pycups==2.0.1
click==8.0.3
idna==3.3
pytz==2022.1
urllib3==1.26.5
ufw==0.36.1
apturl==0.5.2
soupsieve==2.3.1
screen-resolution-extra==0.0.0
psutil==5.9.0
yt-dlp==2022.4.8
MarkupSafe==2.0.1
setuptools==59.6.0
onboard==1.4.1
ubuntu-drivers-common==0.0.0
IMDbPY==2021.4.18
ssh-import-id==5.11
nemo-emblems==6.0.1
